html, body, section {
    height: 100%;
}

body {
    display: table;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 7rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 2rem;
}

p.lead {
    font-size: 2.0rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.contacts {
    margin-bottom: 4rem;
}

.subheading {
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

.subheading-company {
    font-size: 2rem;
}

.social-icons a {
    display: inline-block;
    height: 5.5rem;
    width: 5.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 5.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #4056A1;
}

.dev-icons {
    font-size: 4.25rem;
}

.dev-icons .list-inline-item i:hover {
    color: #4056A1;
}

.text-primary {
    color: #4056A1;
}

.text-secondary {
    font-size: 1.75rem;
    color: #4056A1;
}

.subheading a {
    color: #4056A1;
}

.navbar {
    position: fixed;
    display: table;
    height: 100vh;
    width: 27rem;
    background-color: #5C2018;
}

.navbar-img {
    width: 15rem;
    height: 15rem;
    float: none;
    margin: 0 auto 20px;
}

.pic-me {
    padding-top: -20px;
}

.navbar-brand .img-profile {
    max-width: 15rem;
    max-height: 15rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.container {
    display: table-cell;
    vertical-align: middle;
}

li.nav-item {
    text-align: center;
    display: block;
    width: 20rem;
    height: 4rem;
}

.nav-link{
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
}

.resume-container {
    margin-left: 27rem;
}

.programming-languages, .key-courses {
    margin-top: 3rem;
}

section {
    max-width: 100rem;
}

section#about {
  padding-top: 22.5rem !important;
  padding-bottom: 22.5rem !important;
  padding-left: 5rem;
}

section#experience {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  padding-left: 5rem;
}

section#education {
  padding-top: 20rem !important;
  padding-bottom: 20rem !important;
  padding-left: 5rem;
}

section#skills {
  padding-top: 18rem !important;
  padding-bottom: 18rem !important;
  padding-left: 5rem;
}

section#interests {
  padding-top: 25.5rem !important;
  padding-bottom: 30rem !important;
  padding-left: 5rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}
